<div class="row">
    <div class="mx-auto">
        <div class="card p-2">
            <div class="card-header">
                <h3 class="text-center">Editar Persona</h3>
            </div>
            <div class="card-body">
                <form (submit)="updatePerson()">
                    <div class="form-row">
                        <div class="col-md-4">
                            <label for="personId">ID</label>
                            <input type="number" class="form-control" name="person" [(ngModel)]="person.person_id" id="personId" disabled>
                        </div>
                        <div class="col-md-8">
                            <label for="curp">CURP</label>
                            <input type="text" class="form-control" name="curp" [(ngModel)]="person.curp" id="personId">
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="col-md-4">
                            <label for="name">Nombre</label>
                            <input type="text" class="form-control" name="name" [(ngModel)]="person.nombre" id="name">
                        </div>
                        <div class="col-md-4">
                            <label for="lastName">Primer apellido</label>
                            <input type="text" class="form-control" name="lastName" [(ngModel)]="person.primer_apellido" id="lastName">
                        </div>
                        <div class="col-md-4">
                            <label for="secondSurname">Segundo apellido</label>
                            <input type="text" class="form-control" name="secondSurname" [(ngModel)]="person.segundo_apellido" id="secondSurname">
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="col-md-6">
                            <label for="address">Dirección</label>
                            <input type="text" class="form-control" name="address" [(ngModel)]="person.direccion" id="address">
                        </div>
                        <div class="col-md-6">
                            <label for="numberPhone">Teléfopno</label>
                            <input type="text" class="form-control" name="numberPhone" [(ngModel)]="person.telefono" id="numberPhone">
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="col-md-6">
                            <label for="email">Email</label>
                            <input type="email" class="form-control" name="email" id="email" [(ngModel)]="person.email">
                        </div>
                        <div class="col-md-3">
                            <label for="gender">Genero</label>
                            <select name="gender" class="form-control" id="gender" [(ngModel)]="person.genero" required>
                                <option [value]="'M'">Masculino</option>
                                <option [value]="'F'">femenino</option>
                                <option selected disabled>Sexo</option>
                            </select>
                        </div>
                        <div class="col-md-3">
                            <label for="birthdate">Fecha de nacimiento</label>
                            <input type="date" class="form-control" name="birthdate" [(ngModel)]="person.fecha_de_nacimiento" id="birthdate">
                        </div>
                    </div>
                    <div class="form-row mt-3">
                        <div class="col-md-6">
                            <button type="button" routerLink="/people" class="btn btn-danger btn-block"><fa-icon [icon]="faArrowLeft" class="mr-2 ml-2"></fa-icon>Regresar</button>
                        </div>
                        <div class="col-md-6">
                            <button type="submit" class="btn btn-success btn-block"><fa-icon [icon]="faCheck" class="mr-2 ml-2"></fa-icon>Guardar cambios</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>