<div class="row">
    <div class="col-8 mx-auto">
        <div class="card p-2">
            <div class="card-header">
                <h3 class="text-center">Registro de proveedores</h3>
            </div>
            <div class="card-body">
                <form class="" autocomplete="off" [formGroup]="form" (submit)="addProvider()">
                    <div class="form-row">
                        <div class="form-group col-md-4">
                            <label for="personId">Persona ID</label>
                            <input type="number" class="form-control" formControlName="persona_id" [class.is-invalid]="persona_id" placeholder="0" id="personId" name="personId" required>
                            <small class="text-danger" *ngIf="persona_id">El id de la persona es invalido</small>
                        </div>
                        <div class="form-group col-md-4">
                            <label for="company">Organizacion</label>
                            <input type="text" class="form-control" id="company" formControlName="organizacion" placeholder="Ositos de goma" [class.is-invalid]="organizacion" name="company" required>
                            <small class="text-danger" *ngIf="organizacion">El apellido paterno es invalido</small>
                        </div>
                        <div class="form-group col-md-4">
                            <label for="state">Genero</label>
                            <select class="custom-select" id="state" name="state" [class.is-invalid]="estado_id" formControlName="estado_id" required>
                                <option [ngValue]="1">Activo</option>
                                <option [ngValue]="2">Inactivo</option>
                                <option [ngValue]="3">Removido</option>
                            </select>
                            <small class="text-danger" *ngIf="estado_id">El estado no es vlaido</small>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <button type="button" class="btn btn-danger btn-block" routerLink="/providers"><fa-icon class="mr-2" [icon]="faArrowLeft"></fa-icon>Regresar</button>
                        </div>
                        <div class="form-group col-md-6">
                            <button type="submit" class="btn btn-success btn-block"><fa-icon class="mr-2" [icon]="faSave"></fa-icon>Añadir proveedor</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>